<div class="text-table">
    <table>
        <tbody>
        <tr>
            <td>
                <h1 class="text-input">@ViewBag.User.Username</h1>
            </td>
        </tr>
        <tr class="text-input">
            <td>
                User Id: 
            </td>
            <td>
                @ViewBag.User.Id
            </td>
        </tr>
        <tr class="text-input">
            <td>
                Join date: 
            </td>
            <td>
                @ViewBag.User.RegDate
            </td>
        </tr>
        <tr class="text-input">
            <td>
                Email adress: 
            </td>
            <td>
                @ViewBag.User.Email
            </td>
        </tr>
        <tr class="text-input">
            <td>
                Uploads: 
            </td>
            <td>
                <a href="/user/posts?Id=@ViewBag.User.Id">@ViewData["uploads"]</a>
            </td>
        </tr>
        <tr class="text-input">
            <td>
                Comments: 
            </td>
            <td>
                <a href="/user/comments?Id=@ViewBag.User.Id">@ViewData["comments"]</a>
            </td>
        </tr>
        <tr>
            <td>
                <a>Change username</a>
            </td>
        </tr>
        <tr>
            <td>
                <a>Change password</a>
            </td>
        </tr>
        <tr>
            <td>
                <a>Delete account</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form class="menu-element" action="" method="POST">
        <input type="submit" value="Logout">
    </form>
</div>