<div class="posts">
    @foreach (var post in ViewBag.Posts)
    {
        <span  class = "thumbnail">
            <a id="@post.id" href="/posts/post?id=@post.id">
                <img src="@post.path" alt="">
            </a>
        </span>
    }
</div>
<div class="paginator">
    @{if(ViewBag.Pgn.FirstPage > 0)
    {
        if (ViewBag.Pgn.CurPage > 1)
        {
            <a href="/Posts/page?id=1">&lt;&lt;</a>
            <a href="/Posts/page?id=@ViewBag.Pgn.CurPage-1">&lt;</a>
        }
        for(int i = @ViewBag.Pgn.FirstPage; i <= @ViewBag.Pgn.LastPage; i++)
        {
            <a href="/Posts/page?id=@i">@i</a>
        }
        if (ViewBag.Pgn.CurPage < ViewBag.Pgn.PageCount)
        {
            <a href="/Posts/page?id=@ViewBag.Pgn.CurPage+1">></a>
            <a href="/Posts/page?id=@ViewBag.Pgn.PageCount">>></a>
        }
    }
    }
</div>