<div class="image_container">
    <img src="@ViewBag.post.path";>
    <br />
    Tags: @{
        foreach (var item in ViewBag.tags)
        {
            <a href="">@item.tag</a>
        }
    }
    <br />
    Description: @ViewBag.post.description
    <br />
    Posted by: @ViewBag.post.user
    <br />
    @{if(ViewBag.post.user == User.Identity.Name)
    {
        <a href="/posts/edit?id=@ViewBag.post.id">Edit post</a>
        <form class="menu-element" enctype="multipart/form-data" action="/posts/delete?id=@ViewBag.post.id" method="POST">
            <input type="submit" value="Delete post" name="delete">
        </form>
    }}
    <div class="comment-section">
    @{if(User.Identity.Name != null)
    {
        <form class="menu-element" action="" method="POST">
                <input type="text" placeholder="Enter your comment here" name="comment">
                <input type="submit" value="Submit">
        </form>
    }}
    
    @{foreach (var comment in ViewBag.comments)
        {
            <div>
                @comment.time_created
                @comment.user
                <br>
                @comment.comment
            </div>
        }
    }
    </div>
</div>
