<div class="image_container">
    <img src="@ViewBag.PostPage.Post.Path";>
    <br />
    Tags: @{
        foreach (var item in ViewBag.PostPage.Tags)
        {
            <a href="/posts/page?tags=@item">@item</a>
        }
    }
    <br />
    Description: @ViewBag.PostPage.Post.Description
    <br />
    Posted by: @ViewBag.PostPage.Username
    <br />
    @{if(ViewBag.PostPage.Username == User.Identity.Name)
    {
        <a href="/posts/edit?Id=@ViewBag.PostPage.Post.Id">Edit post</a>
        <form class="menu-element" enctype="multipart/form-data" action="/posts/delete?Id=@ViewBag.PostPage.Post.Id" method="POST">
            <input type="submit" value="Delete post" name="delete">
        </form>
    }}
    <div class="comment-section">
    @{if(User.Identity.Name != null)
    {
        <form class="menu-element" action="" method="POST">
                <input type="text" placeholder="Enter your comment here" name="comment">
                <input type="submit" value="Submit">
        </form>
    }}
    
    @{foreach (var comment in ViewBag.PostPage.CommentSection)
        {
            <div>
                @comment.TimeCreated
                @comment.User.Username
                <br>
                @comment.CommentString
            </div>
        }
    }
    </div>
</div>
